#main { 
    width: 75%;
    margin: 5em  auto 0 auto;
    height: 100%;
}

/* Movie details */
.movieDetailsContainer {
    width: 100%;
    display: flex;
}

.movieDetails {
    display: flex;
    flex-direction: column;
    padding: .5em 0 0 3em;
    font-family: var(--font-poppins);
}

.moviePosterCard{
    min-height: 500px;
    min-width: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, .1);
}

.movieDetails header {
    width: 90%;
    font-size: 2.5em;
    font-weight: bold;
}

.year {
    padding-left: .2em;
    font-weight: 200;
    font-style: italic;
    color: rgba(255, 255, 255, .5);
}

.movieInfo {
    display: flex;
    width: 75%;
    font-weight: 300;
    font-size: 1.1em;
    padding-bottom: 2em;
    align-items: center;
}

.releaseInfo {
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-weight: 200 bold;
}

.genres {
    padding-left: 2em;
    width: 40%;
}

.genre {
    padding: .1em .6em;
    border: 1px solid #7275A6;
    border-radius: .2em;
    font-size: .9em;
    margin-right: .6em;
}

.overview {
    width: 90%;
    padding-bottom: 2em;
}

.crew {
    padding-top: 1.5em
}

.crew ul {
    list-style-type: none;
}

.crew li {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: .4em 0;
}

.actionButtons {
    width: 27%;
    display: flex;
    justify-content: space-between;
}

.actionButton {
    font-size: 1.1em;
    background-color: transparent;
    padding: .4em .7em;
    font-weight: 200 bold;
    border-radius: .2em;
    border: 1px solid  #7275A6;
    font-family: var(--font-poppins);
    letter-spacing: .1pt;
    background: linear-gradient(to right, #7275A6 50%, #14181c 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .25s ease-out;
}

.actionButton:hover {
    /* background-color:  rgba(255,181,37 , .9); */
    color: white;
    background-position: left bottom;
}

.favorite {
    width: 50px;
    height: 50px;
    border-radius: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Movie details */