.contentContainer{
    padding-top: 4em;
    font-family: var(--font-poppins);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contentSidebar {
    width: 23%;
}

.contentOverview {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.overviewNav {
    display: flex;
    margin-left: 2em;
    width: 50%;
}

.overviewNav ul {
    font-size: 1.2em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
}
/* 
.overviewNav ul li:hover::after { 
    width: 100%;
}

.overviewNav ul li::after {
    content: "";
    display: block;
    width: 0;
    padding-top: 1px;
    border-bottom: 3px solid #FC4A78;
    transition: width .3s;
} */

.selected::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 2px;
    border-bottom: 3px solid #FC4A78;
}

.contentTitle {
    width: 7%;
    font-size: 2.2em;
    margin-bottom: 1.5em;
    letter-spacing: 1pt
}

.contentTitle::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 3px solid #FC4A78;
}

.contentScroller {
    width: 100%;
    padding-top: 3em;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
    gap: var(--size-2);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.contentScroller::-webkit-scrollbar {
    display: none;
}

.castCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.castCardAvatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.castInfo {
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: .8em;
    display: flex;
    flex-direction: column;
}

.castInfo span {
    padding: .5em 0;
}

.castInfo span:first-child {
    font-size: 1.1em;
    font-weight: bold;
}

.castInfo span:last-child{
    width: 80%;
    font-size: 1.1em;
    font-weight: 200 ;
}