.movieResultsContainer {
    z-index: 1;
    position: absolute;
    height: 500px;
    width: 42%;
    background-color:rgba(0, 0, 0, .3);
    bottom: 0;
    margin-right: 20px;
    border-radius: .5em;
    overflow-y: auto;
}

.movieResultsContainer::-webkit-scrollbar {
    width: .5em;
}

.movieResultsContainer::-webkit-scrollbar-track {
    background-color: rgba(255 ,255 ,255 ,.1);
    border-bottom-right-radius: 1em;
}

.movieResultsContainer::-webkit-scrollbar-thumb {
    padding: .2em;
    background-color: rgba(255, 182, 37 , .8)
}

.movieResult {
    width: 100%;
    margin-bottom: 1px;
}

.movieItem {
    width: 100%;
    display: flex;
    padding: .5em .2em .9em .4em;
    border-bottom: 1px solid rgba(255 ,255 ,255 ,.1);
}


.movieItem:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
    transition: .2s ease-in;
}


.poster {
    width: 8%;
    height: 5em;
}

.movieDetails {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-direction: column;
    width: 65%;
    padding-left: 1.5em;
    font-family: var(--font-poppins);
}


.movieDetails span {
    display: flex;
    width: 100%;
    padding-top: .5em;
    flex-direction: column;
}

.movieDetails h3 {
    font-size: 1em;
    font-weight: 300 bold;
}

.movieDetails span p {
    font-size: .9em;
    font-weight: 200 bold;
}

.credits {
    font-size: .9em;
    font-style: italic;
}

.hidden {
    display: none;
}