#moviesLanding {
    width: 100%;
    padding: 5em 0 5em 0 ;
}

.trendingSection {
    margin: 0 auto;
    width: 63%;
    font-family: var(--font-poppins);
}

.sectionTitle {
    width: 20%;
    text-align: right;
    font-size: 1.1em;
    font-weight: 300 bold;
    font-style: bold;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.trending {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
    gap: var(--size-2);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.trending::-webkit-scrollbar {
    display: none;
}


